body{
    
}

#Princ{
    width: 850px;
    border: 1px solid #000000;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 3px 5px 8px;
    -moz-box-shadow: #666 3px 5px 8px;
    background: #001731;
    box-shadow: #666 3px 5px 8px;
}

#Cabe{
    background: url(../img/Cabeza.jpg);
    background-repeat: repeat-x;
    height:170px;
    border: 3px solid #c7b56d;
    margin: 10px;
    border-radius: 8px;
}

#Registro{
    border: 3px solid #c7b56d;
    height: 385px;
    margin: 10px;
    border-radius: 8px;
    float: left;
    padding: 10px;
    width: 595px;
    color: #c7b56d;
}

.clear3{
    clear: both;
}

#PiePag{
    height: 50px;
    border: 3px solid #c7b56d;
    margin: 10px;
    border-radius: 8px;
}
#bot
{
    text-align: right;
}